<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :contact_first_name %><br>
    <%= f.text_field :contact_first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :company_phone_number %><br>
    <%= f.text_field :company_phone_number %>
  </div>
  <div class="field">
    <%= f.label :company_street_address %><br>
    <%= f.text_field :company_street_address %>
  </div>
  <div class="field">
    <%= f.label :company_city %><br>
    <%= f.text_field :company_city %>
  </div>
  <div class="field">
    <%= f.label :company_state %><br>
    <%= f.text_field :company_state %>
  </div>
  <div class="field">
    <%= f.label :company_zip %><br>
    <%= f.number_field :company_zip %>
  </div>
  <div class="field">
    <%= f.label :company_email %><br>
    <%= f.text_field :company_email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
