<h1>Listing providers</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Contact first name</th>
      <th>Last name</th>
      <th>Company phone number</th>
      <th>Company street address</th>
      <th>Company city</th>
      <th>Company state</th>
      <th>Company zip</th>
      <th>Company email</th>
      <th>Password</th>
      <th>Password confirmation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.company_name %></td>
        <td><%= provider.contact_first_name %></td>
        <td><%= provider.last_name %></td>
        <td><%= provider.company_phone_number %></td>
        <td><%= provider.company_street_address %></td>
        <td><%= provider.company_city %></td>
        <td><%= provider.company_state %></td>
        <td><%= provider.company_zip %></td>
        <td><%= provider.company_email %></td>
        <td><%= provider.password %></td>
        <td><%= provider.password_confirmation %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
