<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @provider.company_name %>
</p>

<p>
  <strong>Contact first name:</strong>
  <%= @provider.contact_first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @provider.last_name %>
</p>

<p>
  <strong>Company phone number:</strong>
  <%= @provider.company_phone_number %>
</p>

<p>
  <strong>Company street address:</strong>
  <%= @provider.company_street_address %>
</p>

<p>
  <strong>Company city:</strong>
  <%= @provider.company_city %>
</p>

<p>
  <strong>Company state:</strong>
  <%= @provider.company_state %>
</p>

<p>
  <strong>Company zip:</strong>
  <%= @provider.company_zip %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @provider.company_email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @provider.password %>
</p>

<p>
  <strong>Password confirmation:</strong>
  <%= @provider.password_confirmation %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
