<h1>GET INVESTED!</h1>
<%= image_tag("wateringplant.jpg", size: "618x343",:alt => "rss feed") %>

<table>
  <thead>
  <tr>
    <th> Term</th>
    <th>Interest rate</th>
    <th>Minimum order</th>
    <th>Denomination</th>
    <th>Maturity date</th>
    <!--<th>Issue date</th>-->
    <!--<th>Offer start period</th>-->
    <th>Offer end period</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= content_tag_for(:tr, @investments) do |investment| %>
    <!--<tr id='<%# dom_id(investment) %>'>-->
    <td><%= investment.term %> Year</td>
    <td><%= number_to_percentage(investment.interest_rate, precision: 2) %></td>
    <td><%= number_to_currency(investment.minimum_order, precision: 2) %></td>
    <td><%= number_to_currency(investment.denomination, precision:2) %></td>
    <td><%= investment.maturity_date.strftime('%B %-d, %Y') %></td>
    <td><%# investment.issue_date %></td>
    <td><%# investment.offer_start_period %></td>
    <td><%= investment.offer_end_period.strftime('%B %-d, %Y') %></td>
    <td><%= link_to 'Show', investment %></td>
    <% if current_user %>
      <% if can? :update, investment %>
        <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
      <% end %>
      <% if can? :has_money, investment %>
        <td>
          <% if current_user.investments.include?(investment) %>
            <%= link_to 'Divest', divest_investment_path(investment) %></td>
          <% else %>
            <%= link_to 'Invest', invest_investment_path(investment) %></td>
          <% end %>
      <% end %>
      <% if can? :destroy, investment %>
        <td><%= link_to 'Destroy', investment, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    <% end %>
  <% end %>
  <!--</tr>-->
  </tbody>
</table>
<%= will_paginate @investments %>

<br>
<% if can? :create, @investment %>
  <%= link_to 'New Investment', new_investment_path %>
<% end %>
<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to 'About', about_path %>
