<p id="notice"><%= notice %></p>

<p>
  <strong>RENYD <%= @investment.issue_date.strftime('%Y') %>-1/
    <%= @investment.term %> are unsecured bonds issued by Renewable
    Yield. The bonds have a <%= @investment.term %> year term with
    a <%= number_to_percentage(@investment.interest_rate, precision: 2) %>
    interest rate. The bonds will mature on
    <%= @investment.maturity_date.strftime('%B %-d, %Y') %> which is
    <%= @investment.term %> years after their offer date of
    <%= @investment.issue_date.strftime('%B %-d, %Y') %>.
  </strong>
</p>

<p>
  <strong>The minimum order is <%= number_to_currency(@investment.minimum_order, precision: 2) %> and
    increments are <%= number_to_currency(@investment.denomination, precision: 2) %>.
  </strong>
</p>

<p>
  <strong>The offering period for this bond started on
    <%= @investment.offer_start_period.strftime('%B %-d, %Y') %> and will end on
    <%= @investment.offer_end_period.strftime('%B %-d, %Y') %>.
  </strong>
</p>

<% if current_user %>
  <% if can? :update, @investment %>
    <%= link_to 'Edit', edit_investment_path(@investment) %>
  <% end %>
  <% if can? :has_money, @investment %>
    <% if current_user.investments.include?(@investment) %>
      <%= "If you need to divest, click" %>
      <%= link_to 'Divest', divest_investment_path(@investment) %>
      <br>
    <% else %>
      <%= "If you want to invest, click" %>
      <%= link_to 'Invest', invest_investment_path(@investment) %>
      <br>
    <% end %>
    <%= link_to 'Back', my_investments_path %>
  <% end %>
<% else %>
  <br>
  <%= link_to 'Back', :back %>
<% end %>
<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to 'About', about_path %>
