<h1>Renewable Yield</h1>
<%= image_tag("wateringplant.jpg", :alt => "rss feed") %>
<h3>Someday renewable energy will just be known as energy. Our intention is to be a part of making that happen while
  earning a return for investors.</h3>

<h4>The are many kinds of renewable energy - solar, wind, tidal and geothermic are examples but we will focus initially on the residential solar market.  That market and the residential projects in which we would be investing are a part of the largest, most mature, most diverse and most commoditized of the renewable energy markets.  If you are interested in submiting a residential solar project that needs an investor, <%= link_to 'GET FUNDED!', projects_path %> </h4>
<h4>Interest rates have been low for a long time.  You have the opportunity to invest in certificate of deposit equivalents and beat bank rates by at least 0.50%.  If that sounds good to you in addition to knowing that you would be funding solar project, <%= link_to 'GET INVESTED!', investments_path %></h4>

<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to 'About', about_path %>
