<br>
<h1>GET FUNDED!</h1>
<%= image_tag("solar_panels.jpg", size: "618x343", :alt => "rss feed") %>

<h2>We have funded <%= @projects_count %> projects for a total of <%= @projects_value %> to date.</h2>

<% if current_user.provider? || current_user.admin? || current_user.manager? %>
  <%= render 'provider' %>
<% else %>
  <%= render 'non_provider' %>
<% end %>
<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to 'About', about_path %>
