<p id="notice"><%= notice %></p>

<p>
  <strong>Format:</strong>
  <%= @project.format %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @project.api_key %>
</p>

<p>
  <strong>System capacity:</strong>
  <%= @project.system_capacity %>
</p>

<p>
  <strong>Module type:</strong>
  <%= @project.module_type %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @project.losses %>
</p>

<p>
  <strong>Array type:</strong>
  <%= @project.array_type %>
</p>

<p>
  <strong>Tilt:</strong>
  <%= @project.tilt %>
</p>

<p>
  <strong>Azimuth:</strong>
  <%= @project.azimuth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @project.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @project.lon %>
</p>

<p>
  <strong>File id:</strong>
  <%= @project.file_id %>
</p>

<p>
  <strong>Dataset:</strong>
  <%= @project.dataset %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @project.radius %>
</p>

<p>
  <strong>Timeframe:</strong>
  <%= @project.timeframe %>
</p>

<p>
  <strong>Dc ac ratio:</strong>
  <%= @project.dc_ac_ratio %>
</p>

<p>
  <strong>Gcr:</strong>
  <%= @project.gcr %>
</p>

<p>
  <strong>Inv eff:</strong>
  <%= @project.inv_eff %>
</p>

<p>
  <strong>Callback:</strong>
  <%= @project.callback %>
</p>

<p>
  <strong>Npv:</strong>
  <%= @project.npv %>
</p>

<p>
  <strong>Irr:</strong>
  <%= @project.irr %>
</p>

<p>
  <strong>Project score:</strong>
  <%= @project.project_score %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
