<h1>About Renewable Yield</h1>

<h3>We here at Renewable Yield are not only excited to be doing our
part by funding and investing in renewable resources, but we also
donate 10% of our profits to our favorite causes.  At the moment,
those causes are:
<br>
<br>
<%= link_to "Colorado Trout Unlimited", "http://www.coloradotu.org/" %>
<br>
<%= link_to "The Cleantech Open", "http://www2.cleantechopen.org/" %>
<br>
<%= link_to "Colorado Fourteeners Initiative", "http://www.14ers.org/" %>
<br>
<br>
We also have office space in <%= link_to "Green Spaces", "http://greenspaceshome.com/" %>, a Denver coworking space for green and
socially concious entrprenuers.</h3>

<br>
<%= link_to 'Business Canvas', business_canvas_path %>
<br>
<%= link_to 'Team', team_path %>
<br>
<%= link_to 'Home', root_path %>

